
<div class="background">
  <div class="container">
    <div class="row my-auto">
      <div class="col-8 col-sg-12 col-lg-6 mx-auto">
        <div class="card login-card mb-3">
          <div class="card-header login-card-header text-uppercase">Felhasználó adatai</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail">Felhasználónév</label>
                <input type="text" class="form-control" placeholder="Felhasználónév">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail">Email cím</label>
                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email cím">
                <small id="emailHelp" class="form-text text-muted">E-mail címét harmadik féllel nem osztjuk meg!</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword">Jelszó</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Jelszó">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword">Jelszó még egyszer</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Jelszó">
              </div>
              <div class="card-footer bg-transparent"></div>
              <a class="btn btn-primary btn-lg btn-block" href="index" role="button">Adatmódosítás</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
