<div class="bodyDiv">
  <div class="col-8 col-sg-12 col-lg-6 mx-auto pt-4 pb-1">
    <div class="card login-card">
      <div class="card-body">
        <form class="mb-0">
          <div class="form-group mb-0">
            <div class="dropdown">
              <button type="button"
                      id="dropdownMenuButton"
                      class="btn btn-secondary dropdown-toggle w-100 mb-2"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">Gyermek</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Kata</a>
                <a class="dropdown-item" href="#">Zoli</a>
                <a class="dropdown-item" href="#">Pisti</a>
              </div>
            </div>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     #newEventTitle
                     placeholder="Cím">
            </div>
            <div class="form-group">
              <textarea type="text"
                        class="form-control"
                        #newEventAlles
                        placeholder="Részletek"></textarea>
            </div>
            <div class="form-group mb-0">
              <input type="datetime-local"
                     class="form-control"
                     #newEventDate
                     value={{eventDateString}}
                     min="1901-01-01T00:00:00"
                     max="2100-12-31T00:00:00">
            </div>
            <div class="card-footer bg-transparent"></div>
            <a role="button"
               class="btn btn-info btn-block"
               (click)="addEvent(newEventTitle, newEventAlles, newEventDate)">Hozzáad</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
