<div class="cd-timeline-img cd-picture"
     [style.background]="'#75ce66'"
     [style.background]="'url(./assets/temporary/' + esemeny.kinderId + '.png)'"
     [style.background-repeat]="'no-repeat'"
     [style.background-position]="'center'"
     [style.background-size]="'cover'"></div>
<div class="cd-timeline-content">
  <div class="settingsImage32 mx-3" [routerLink]="['./', esemeny.id ]"></div>
  <h2>{{ esemeny.title }}</h2>
  <p>{{ esemeny.bodyText }}</p>
  <a [hidden]="!esemeny.bodyText" [routerLink]="['./', esemeny.id ]" class="cd-read-more">Bővebben</a>
  <span [hidden]="!esemeny.dateTime" class="cd-date">{{ esemeny.dateTime | date:'yy.MMM.dd. HH:mm' }}</span>
</div>
