
<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-8 col-sg-12 col-lg-6 mx-auto">
        <div class="card mb-3">
          <div class="card-header text-uppercase">Rólunk</div>
          <div class="card-body">
            <input type="text" [(ngModel)]="inputContent">
            <div>
              <p>{{title}}</p>
            </div>


            <button
            (click)="toggle()"
            (dblclick)="demo($event)"
            [disabled]="!show">
              GO</button>

            <div *ngIf="show">
              <p>{{ events | json}}</p>
            </div>

            <div *ngIf="show">
              <p>Teszt</p>
            </div>

            <div [ngClass]="{'valami': show}">
              <p>bgClass demo</p>
            </div>

            <div [ngClass]="{'valami': show}">
              <p>bgClass demo</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
